
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2b2d31; 
}

::-webkit-scrollbar-thumb {
    background: #585b63; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #72767d; 
}

[data-bs-theme="dark"] body {
    background-color: #313338 !important; 
}

#chat-messages {
    background-color: #2b2d31 !important; 
}

.chat-msg-user {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.chat-msg-user .badge {
    background-color: #5865F2 !important;
    color: white;
    max-width: 85%;
    font-size: 0.95rem !important;
    text-align: left;
    border-radius: 12px 12px 0px 12px;
    padding: 10px 14px !important;
}

.chat-msg-ai {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 12px;
}

.chat-msg-ai .badge {
    background-color: #404249 !important;
    color: #dbdee1;
    max-width: 85%;
    font-size: 0.95rem !important;
    text-align: left;
    white-space: pre-wrap;
    border-radius: 12px 12px 12px 0px; 
    padding: 10px 14px !important;
}

#chat-input {
    background-color: #383a40;
    border: none;
    color: white;
}

#chat-input:focus {
    box-shadow: none;
    background-color: #404249;
}