body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2b2d31; 
}

::-webkit-scrollbar-thumb {
    background: #585b63; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #72767d; 
}

[data-bs-theme="dark"] body {
    background-color: #313338 !important; 
}