
<h3>Game Modes</h3>

<div>
    <a href="{% url 'home' %}">All</a>
</div>

{% for ID, name in game_modes %}
    <div>
        {% if request.resolver_match.url_name == 'profile' %}
            <a href="{% url 'profile' user.id %}?mode={{ID}}">{{ name }}</a>
        {% else %}
            <a href="{% url 'home' %}?mode={{ID}}">{{ name }}</a>
        {% endif %}
    </div>
{% endfor %}

<hr>

<h3>Looking for Rank</h3>

<div>
    <a href="{% url 'home' %}">All</a>
</div>

{% for ID, name in ranks %}
    <div>
        {% if request.resolver_match.url_name == 'profile' %}
            <a href="{% url 'profile' user.id %}?rank={{ID}}">{{ name }}</a>
        {% else %}
            <a href="{% url 'home' %}?rank={{ID}}">{{ name }}</a>
        {% endif %}
    </div>
{% endfor %}

<hr>

<h3> Looking for Role</h3>

<div>
    <a href="{% url 'home' %}">All</a>
</div>

{% for ID, name in roles %}
    <div>
        {% if request.resolver_match.url_name == 'profile' %}
            <a href="{% url 'profile' user.id %}?role={{ID}}">{{ name }}</a>
        {% else %}
            <a href="{% url 'home' %}?role={{ID}}">{{ name }}</a>
        {% endif %}
    </div>
{% endfor %}
<hr>