<div>
    
    {% for post in posts %}
    <div>
        {% if request.user == post.host %}
        <a href="{% url 'update-post' post.id %}">Edit</a>
        <a href="{% url 'delete-post' post.id %}">Delete</a>
        {% endif %}

        <h3><a href="{% url 'lfgpost' post.id %}">{{ post.title }}</a></h3>
        <p>Posted by: <a href="{% url 'profile' post.host.id %}">@{{post.host}}</a></p>
        <p>Region: {{post.get_region_display}}</p>
        <p>Game Mode: {{ post.get_game_mode_display }}</p>
        <p>Host's tier: {{post.get_host_tier_display}}</p>
        <p>Looking for min. tier: {{post.get_min_tier_display}}</p>
        <p>Host's role: {{post.get_host_role_display}}</p>
        <p>Looking for role: {{ post.get_looking_for_role_display }}</p>
        <hr>
    </div>
            
    {% endfor %}
</div>