{% extends 'main.html' %}



{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        <h2>Filters</h2>
        <hr>
        
        {% include 'base/category_component.html' %}
    </div>
    
    <div>
        <h2>Posts</h2>
        <a href="{% url 'create-post' %}">Create Post</a>
        <hr>
        {% include 'base/feed_component.html' %}
    </div>

    <div>

    </div>
</div>


{% endblock content %}